.jobDetail {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.jobDetail-content-button-holder {
  display: flex;
  flex-direction: row;
  position: relative;
}
.jobDetail-content-holder {
  width: 100%; /* Content takes full width, pushing button to the right */
  padding-right: 100px; /* Leave space on the right for the sticky button */
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.job-supply-button {
  position: sticky;
  top: 100px; /* Distance from the top of the viewport */
  align-self: flex-start;
  background-color: #0078d4;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: auto; /* Pushes button to the right */
}
