.jobPage {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  margin-bottom: 75px;
}
@media (max-width: 800px) {
  .jobPage {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
}
