#homehero {
  height: 100vh - 70px;
  background-color: red;
}
#homehero-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: 12% center;
  position: absolute;
  top: 0;
}
.homehero-text-content {
  display: flex;
  justify-content: center;
  z-index: 200;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform: translateY(100%);
}
.container {
  width: 85%;
  display: flex;
  justify-content: center;
}
.homehero-text-content-center {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  color: var(--color-tertiary);
}

#homehero h1 {
  font-size: 36px;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}
.homehero-text-content-center img {
  width: 200px;
}
@media (max-width: 800px) {
  .homehero-text-content-center {
    flex-direction: column;
    gap: 0px;
    padding-top: 40px;
  }
  #homehero h1 {
    font-size: 25px;
    line-height: 1.4;
    margin: 0;
  }
  .homehero-text-content-center img {
    width: 150px;
  }
}
@media (max-height: 600px) {
  .homehero-text-content-center {
    padding: 0px;
    flex-direction: row;
    gap: 25px;
  }
  #homehero h1 {
    font-size: 25px;
  }
  .homehero-text-content-center img {
    width: 125px;
  }
}
