#homehero {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#home-hero-black-screen {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
#homehero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 20%;
}
.homehero-text-content {
  position: absolute;
  z-index: 200;
  right: 5%;
  bottom: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 25px;
}

.homehero-text-content-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary);
}

#homehero h1 {
  line-height: 1.4;
  margin: 0;
  text-align: center;
}
.homehero-text-content-center img {
  width: 200px;
  border-radius: 15px;
}

@media (max-width: 800px) {
  #homehero {
    height: 70vh;
  }
  #homehero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 5%;
  }
  .homehero-text-content {
    width: 300px;

    right: calc(50% - 150px);
    bottom: 2%;
    padding: 10px;
  }
  .homehero-text-content-center {
    flex-direction: column;
    gap: 0px;
    padding-top: 40px;
  }
  #homehero h1 {
    font-size: 22.5px;
    line-height: 1.4;
    margin: 0;
  }
  .homehero-text-content-center img {
    width: 150px;
  }
}
@media (max-height: 600px) {
  #homehero {
    height: 100vh;
    background-color: red;
  }
  .homehero-text-content {
    right: 3%;
    bottom: 3%;
    padding: 15px;
  }
  .homehero-text-content-center {
    padding: 0px;
    flex-direction: column;
    gap: 15px;
  }
  #homehero h1 {
    font-size: 23px;
  }
  .homehero-text-content-center img {
    width: 125px;
  }
}
