#home-hero {
  height: 100vh;
  position: relative;
}
#hh-main-img {
  width: 100vw;
  object-fit: cover;
}
.hh-text-holder {
  margin-left: 7.5%;
}
.hh-text-holder h1 {
  padding-top: 150px;
  color: var(--color-primary);
  padding-bottom: 15px;
}
.hh-text-holder p {
  width: 52%;
  font-size: 20px;
  font-weight: 500;
}
.hh-text-one {
  padding-bottom: 12.5px;
}
.hh-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.hh-image img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
}

@media (max-width: 1100px) {
  .hh-text-holder h1 {
    color: var(--color-primary);
    padding-bottom: 10px;
  }
  .hh-text-holder p {
    width: 54%;
  }
  .hh-text-one {
    padding-bottom: 7.5px;
  }
  .hh-image img {
    width: 38%;
  }
}
@media (max-width: 800px) {
  #home-hero {
    height: auto;
  }
  .hh-text-holder h1 {
    padding-top: 98px;
    color: var(--color-primary);
  }
  .hh-text-holder p {
    width: 50%;
  }
  .hh-image img {
    font-size: 17px;
    width: 45%;
  }
}
