.datenschutz {
  display: flex;
  justify-content: center;
  margin-top: 170px;
  margin-bottom: 75px;
}
.datenschutz h1 {
  margin-bottom: 20px;
}
.datenschutz h2 {
  padding-top: 20px;
  margin-bottom: 10px;
}
.datenschutz ul {
  padding: 10px;
  padding-left: 20px;
}
@media (max-width: 800px) {
  .datenschutz {
    margin-top: 100px;
  }
  .datenschutz h2 {
    padding-top: 15px;
    margin-bottom: 5px;
  }
  .datenschutz ul {
    padding: 5px;
    padding-left: 15px;
  }
}
