.home-offer-section {
  padding: 75px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--color-primary);
  text-align: center;
}
.home-offer-section p {
  padding: 0px 7.5%;
  color: var(--color-tertiary);
  text-align: center;
  margin-bottom: 10px;
}
.home-offer-section p b {
  color: var(--color-rbonus-three);
}
.prospekt-container {
  width: 70%;
  height: 90vh;
}
.open-container {
  text-align: center;
  background-color: #4caf50; /* Green */
  padding: 10px 20px;
  border-radius: 5px;
}
.open-container:hover {
  background-color: #45a049;
}
.prospekt-open-button {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 800px) {
  .home-offer-section {
    padding: 50px 0px;
    gap: 15px;
  }
  .home-offer-section p {
    padding: 0px 5%;
  }
  .open-container {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0px 5%;
  }
  .prospekt-open-button {
    font-size: 14px;
  }
}

/*Mobile umgedreht*/
@media (max-height: 600px) {
}
