.impressum {
  display: flex;
  justify-content: center;
  margin-top: 170px;
  margin-bottom: 75px;
}
.impressum h1 {
  margin-bottom: 5px;
}
.impressum h2 {
  padding-top: 20px;
  margin-bottom: 10px;
}
.impressum ul {
  padding: 10px;
  padding-left: 20px;
}
@media (max-width: 800px) {
  .impressum {
    margin-top: 100px;
  }
  .impressum h2 {
    padding-top: 15px;
    margin-bottom: 5px;
  }
  .impressum ul {
    padding: 5px;
    padding-left: 20px;
  }
}
