.navbar {
  background-color: var(--color-secondary);
  width: 100%;
  top: 0;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  z-index: 400;
  border-radius: 0 0 200px 200px;
  position: fixed;
  border: 10px solid var(--color-primary);
  border-left: 4px solid var(--color-primary);
  border-right: 4px solid var(--color-primary);
  border-top: 0;
}

.moving-navbar {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  z-index: 400;
  border-radius: 0 0 200px 200px;
  border: 5px solid var(--color-primary);
  border-left: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  border-top: 0;
}

.navbar-container {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-tertiary);
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding: 7.5px 0px;
}

.logo-holder-img {
  height: 90px;
  width: auto;
  transition: all 0.5s ease;
  border-radius: 15px;
}

.moving-navbar .logo-holder-img {
  height: 70px;
  transition: all 0.5s ease;
}
.link-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 55%;
  max-width: 100%;
}

.link {
  color: var(--color-tertiary);
  text-decoration: none;
  padding: 10px 25px;
  transition: all 0.25s ease;
  font-size: 21px;
}
.moving-navbar .link {
  padding: 5px 17px;
  font-size: 18px;
  transition: all 0.25s ease;
}

.link:hover {
  color: var(--color-primary);
  transition: all 0.3s ease;
}
.active-link {
  color: var(--color-primary);
  text-decoration: none;
  padding: 10px 25px;
  font-size: 21px;
  transition: all 0.25s ease;
}

.moving-navbar .active-link {
  padding: 5px 17px;
  margin: 0px 10px;
  font-size: 18px;
  transition: all 0.25s ease;
}

/*Für Mobile*/
.mobile-link-holder {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  top: 71px;
  right: 35px;
  gap: 16px;
  padding: 16px 0px;
  align-items: center;
  transition: all 0.5s ease;
  width: 150px;
}
.menu-icon svg {
  width: 30px;
  display: flex;
  color: var(--color-tertiary);
}
.menu-icon {
  padding: 4px;
  cursor: pointer;
}

/*Hidden Items*/
.menu-icon,
.mobile-link-holder {
  display: none;
}

.m-link {
  color: var(--color-secondary);
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.m-active-link {
  color: var(--color-primary);
  background-color: white;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 1100px) {
  .m-link {
    padding: 8px 20px;
    margin: 0px 0px;
    font-size: 18px;
  }
  .moving-navbar .m-link {
    font-size: 18px;
  }
  .m-active-link {
    padding: 8px 20px;
    margin: 0px 0px;
    font-size: 18px;
  }
  .moving-navbar .m-active-link {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .navbar {
    border-radius: 0 0 75px 75px;
    border-bottom: 5px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
  }
  .moving-navbar {
    border-radius: 0 0 75px 75px;
    border-bottom: 4px solid var(--color-primary);
    border-left: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
  }
  .navbar-container {
    padding: 7px 0 7px 0;
  }
  .logo-holder-img {
    height: 55px;
  }
  .moving-navbar .logo-holder-img {
    height: 45px;
    transition: all 0.5s ease;
  }
  .link-holder {
    display: none;
  }
  .m-link {
    font-size: 16px;
  }
  .moving-navbar .m-link {
    font-size: 16px;
  }
  .m-active-link {
    font-size: 16px;
  }
  .moving-navbar .m-active-link {
    font-size: 16px;
  }
  .moving-navbar .mobile-link-holder {
    top: 61px;
    right: 35px;
    transition: all 0.5s ease;
  }
  .menu-icon {
    display: block;
  }
  .mobile-link-holder {
    display: flex;
    opacity: 0;
    pointer-events: none;
  }
  .mobile-link-holder.active {
    opacity: 1;
    pointer-events: auto;
  }
}
/*Handy umgedreht*/
@media (max-height: 600px) {
  .logo-holder-img {
    height: 70px;
  }
  .moving-navbar .logo-holder-img {
    height: 45px;
  }
  .link {
    font-size: 16px;
  }
}
