.hero {
  height: calc(100vh - 70px);
}
.hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 12% center;
  position: absolute;
  top: 0;
}
.hero-text-content {
  display: flex;
  justify-content: center;
  z-index: 200;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.hero-text-content-center {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  color: var(--color-tertiary);
  text-align: center;
  padding: 100px;
  padding-bottom: 50px;
}
.hero-text-content-center h1 {
  font-size: 40px;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}
@media (max-width: 800px) {
  .hero-text-content-center {
    padding: 70px;
    padding-bottom: 40px;
  }
  .hero-text-content-center h1 {
    font-size: 30px;
  }
}
@media (max-height: 600px) {
  .hero {
    height: calc(100vh - 50px);
  }
  .hero-text-content-center {
    padding: 25px;
  }
  .hero-text-content-center h1 {
    font-size: 25px;
  }
}
