.footer {
  margin-top: 75px;
  background-color: rgb(170, 170, 170, 0.5);
  display: flex;
  justify-content: center;
}
.footer-content-holder {
  padding: 40px 0 20px 0;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-logo {
  width: 150px;
  border-radius: 50%;
}
.footer-content-holder-right {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.fonter-contact-hader {
  font-weight: bold;
}
.footer-links-holder {
  display: flex;
  flex-direction: column;
}
.footer-links-holder p {
  font-weight: bold;
}
.footer-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
@media (max-width: 800px) {
  .footer-logo {
    width: 100px;
    border-radius: 50%;
  }
  .footer-content-holder-right {
    flex-direction: column;
    gap: 25px;
  }
}
