.jobDetail {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 50px;
}
.jobDetail-content-holder {
  width: 100%; /* Content takes full width, pushing button to the right */
  padding-right: 100px; /* Leave space on the right for the sticky button */
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.jobDetail-content-holder h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.jobDetail-content-holder p {
  padding: 0px 0px 10px 0;
}
.jobDetail-content-holder ul {
  padding: 0px 0px 10px 50px;
}
.job-supply-button {
  position: sticky;
  top: 150px; /* Distance from the top of the viewport */
  align-self: flex-start;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  margin-left: auto; /* Pushes button to the right */
}

@media (max-width: 800px) {
  .jobDetail {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .jobDetail-content-holder {
    padding-right: 0;
    gap: 20px;
  }
  .jobDetail-content-holder h3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .jobDetail-content-holder p {
    padding: 0px 0px 10px 0;
  }
  .jobDetail-content-holder ul {
    padding: 0px 0px 10px 20px;
  }
  .job-supply-button {
    position: static;
    width: 100%;
    margin-top: 50px;
    border-radius: 0;
  }
}
