/*Lokale Hosten von Google Fonts */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("woff2"),
    url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("woff2"),
    url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "rewe";
  src: url("./assets/fonts/Futura\ Bold.otf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
html {
  scrollbar-width: thin;
  scrollbar-color: #cd071e white;
}
:root {
  --color-primary: #d40000;
  --color-secondary: white;
  --color-tertiary: #808080;
  --color-rbonus-one: #2d837a;
  --color-rbonus-two: #fbee7b;
  --color-rbonus-three: #d72a83;
}

::-webkit-scrollbar {
  width: 8px; /* Breite der vertikalen Scrollbar /
  height: 8px; / Höhe der horizontalen Scrollbar */
}
.container {
  width: 85%;
}
body {
  font-size: 20px;
}
label {
  font-size: 20px;
}
input {
  font-size: 18px;
  padding: 5px;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
b {
  font-family: "rewe", sans-serif;
  font-weight: bold;
}
@media (max-width: 1100px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.35rem;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 15px;
  }
  label {
    font-size: 18px;
  }
  input {
    font-size: 15px;
    padding: 4px;
  }
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 18px;
  }
}
