@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Parisienne&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@font-face {
  font-family: "rewe";
  src: url("./assets/font/impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scrollbar-width: thin;
  scrollbar-color: #cd071e white;
}
:root {
  --color-primary: #d40000;
  --color-secondary: white;
  --color-tertiary: #808080;
}

::-webkit-scrollbar {
  width: 8px; /* Breite der vertikalen Scrollbar /
  height: 8px; / Höhe der horizontalen Scrollbar */
}
.container {
  width: 85%;
}
body {
  font-size: 18px;
}
label {
  font-size: 20px;
}
input {
  font-size: 18px;
  padding: 5px;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.35rem;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 15px;
  }
  label {
    font-size: 18px;
  }
  input {
    font-size: 15px;
    padding: 4px;
  }
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 18px;
  }
}
