table,
th,
td {
  border: 1px solid;
}
.table-holder {
  width: 100%;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 0;
}
.table-holder table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  border: 2px solid black;
}
th[scope="col"] {
  background-color: #505050;
  color: #fff;
}

th[scope="row"] {
  background-color: #d6ecd4;
}
th,
td {
  padding: 10px;
}
