.worker-cards-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#worker-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 75%;
  margin-top: 50px;
  background-color: black;
  color: white;
  padding: 25px 50px;
  border-radius: 75px;
}
#card-content {
  flex: 1;
}
