.rewe-app-section {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-rbonus-one);
  padding: 100px 7.5%;
}
.ras-content-holder {
  width: 100%;
  height: 100%;
  background-color: var(--color-rbonus-two);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.ras-ch-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-left: 50px;
  color: var(--color-rbonus-three);
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.ras-ch-left img {
  width: 65%;
  transition: all 0.5s ease;
  animation: wave 3s infinite ease-in-out;
  cursor: pointer;
}
.ras-ch-left img:hover {
  scale: 1.2;
  transition: all 0.5s ease;
}
.ras-ch-left-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ras-ch-left-text h2 {
  line-height: 2.5rem;
}
.ras-ch-left-text h2 b {
  cursor: pointer;
}
.ras-ch-left-text p {
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.ras-ch-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#app-handy-animation {
  height: 100%;
  padding: 10%;
  object-fit: contain;
}
@media (max-width: 800px) {
  .rewe-app-section {
    width: 100vw;
    height: auto;
    background-color: var(--color-rbonus-one);
    padding: 60px 5%;
  }
  .ras-content-holder {
    flex-direction: column;
  }
  .ras-ch-left {
    gap: 10px;
    padding-left: 0;
    z-index: 10;
    padding-top: 15px;
  }
  .ras-ch-left img {
    width: 250px;
    transition: all 0.5s ease;
  }
  .ras-ch-left img:hover {
    scale: 1.2;
    transition: all 0.5s ease;
  }
  .ras-ch-left-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 15px;
  }
  .ras-ch-left-text h2 {
    line-height: 27px;
  }
  .ras-ch-left-text p {
    line-height: 22px;
    font-size: 18px;
    font-weight: 600;
  }
  .ras-ch-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #app-handy-animation {
    height: 200px;
  }
}

/*Mobile umgedreht*/
@media (max-height: 600px) {
  .rewe-app-section {
    width: 100vw;
    height: auto;
    background-color: var(--color-rbonus-one);
    padding: 50px 5%;
  }

  .ras-ch-left {
    gap: 10px;
    padding: 20px 20px;
    z-index: 10;
  }
}
